<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>travel app new.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80EEB85C1BFF22D90029CD94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80EEB8701BFF22D90029CD94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80EEB87B1BFF22D90029CD94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
